


/******************************************************************************/
/* 7. Framework Variables
/******************************************************************************/

/*------------------------ Margins ------------------------*/

    $left-margin: 1.5%;
    $right-margin: 1.5%;
    
/*------------------------ Break Points ------------------------*/   

    $bp-real-big: 2400px; 
    $bp-big: 1920px;
    $bp-medium-big: 1400px;
    $bp-medium: 1024px;
    $bp-medium-small: 768px;
    $bp-small: 640px;
    $bp-real-small: 480px;
    $bp-micro: 380px; /* To accomodate Justin's Freaking small Galaxy S6 */

